:root {
  font-size: 62.5%;

  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --dark-cyan-alpha: hsla(192, 100%, 9%, 0.2);
  --grayish-blue: hsl(208, 11%, 55%);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-cyan);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.4rem;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  box-shadow: 0 0.2rem 0.8rem var(--dark-cyan-alpha);
  background-color: var(--pink);
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 41rem;
}

/* Header */

header {
  background-color: var(--pale-cyan);
  background-image: url("./images/bg-hero-desktop.svg");
  padding: 5rem 7.8rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.logo-container > img {
  width: 20rem;
  height: 3.3rem;
}

.logo-container > button {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 5rem;
}

.title-flex {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5rem;
  flex-basis: 45%;
}

.title > button {
  box-shadow: none;
  padding: 1.6rem 8rem;
}

.banner-img > img {
  flex-basis: 55%;
  max-width: 100%;
}

/* Features */

main {
  padding: 8rem;
}

.feature-card {
  display: flex;

  margin: 2.8rem 0;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 0.8rem var(--dark-cyan-alpha);
  padding: 4rem 2rem;
}

.feature-card > .left {
  margin: 0 12rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature > * {
  margin: 0.3rem 0;
}

/* Footer */

footer {
  margin-top: 15rem;
  padding: 15rem 8rem 0 8rem;
  position: relative;
  background-color: var(--dark-cyan);
  color: var(--pale-cyan);
}

.cta {
  position: absolute;
  top: -110px;
  left: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: #fff;
  color: var(--dark-cyan);
  box-shadow: 0 0.2rem 0.8rem var(--dark-cyan-alpha);
  border-radius: 1.6rem;
  width: 50vw;
  padding: 2.5rem;
}

.cta > button {
  padding: 1.6rem 8rem;
}

.white-logo {
  filter: brightness(0) invert(1);
  width: 20rem;
  height: 3.3rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.contact-us {
  flex-basis: 30%;
}
.social-medias {
  flex-basis: 20%;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.contact-item > * {
  align-self: baseline;
}

.copyright {
  display: flex;
  justify-content: flex-end;
}

.attribution {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  margin: 0;
}
