/* Colors */
:root {
  font-size: 62.5%;

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --light-green: hsl(154, 59%, 61%);
  --blue: hsl(248, 32%, 49%);
  --light-blue: hsl(248, 32%, 59%);
  --dark-blue: hsl(249, 10%, 26%);
  --dark-blue-alpha: hsla(249, 10%, 26%, 0.25);
  --grayish-blue: hsl(246, 25%, 77%);
}

/* Body */
html {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  background-color: var(--red);
  background-image: url("./images/bg-intro-desktop.png");
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  flex-grow: 2;
}

.content > * {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  justify-content: center;

  margin: 2.4rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: var(--blue);
}

/* Descriptive Text */

.description {
  color: #fff;
  max-width: 50rem;
}

h1 {
  font-weight: 700;
  font-size: 4.8rem;
  margin: 1.6rem 0;
}

p {
  font-weight: 500;
  margin: 0.8rem 0;
}

/* Form column */

.form-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-column > * {
  margin: 0.8rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem var(--dark-blue-alpha);
}

.try-it {
  background-color: var(--blue);
  padding: 1.2rem;
}

.try-it a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

.try-it:hover,
.try-it:focus {
  background-color: var(--light-blue);
}

button {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: none;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
  transform: translateY(0.4rem);
  box-shadow: 0 0;
}

/* Card */

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 2.4rem;
}

form > * {
  margin: 0.8rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group > * {
  flex-grow: 2;
}

input {
  min-height: 4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--dark-blue-alpha);

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--dark-blue);
  caret-color: var(--blue);
}

input:focus {
  border: 0.1rem solid var(--blue);
  outline: none;
}

.invalid {
  border: 0.1rem solid var(--red);
}

.invalid-helper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.invalid-helper > em {
  margin: 0.4rem;

  color: var(--red);
  font-size: 1.2rem;
  text-align: right;
}

.invalid-helper > img {
  position: absolute;
  bottom: 3.5rem;
  right: 1.7rem;
}

.submit-button {
  background-color: var(--green);
  padding: 2rem;

  border-radius: 0.4rem;
  box-shadow: 0 -0.4rem var(--dark-blue-alpha) inset;

  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--light-green);
}

/* Text Helper */

.helper {
  color: var(--grayish-blue);
  font-size: 1rem;
  text-align: center;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--red);
}

a:focus {
  outline: none;
  text-decoration: underline;
}

/* vertical mode */
@media (max-width: 60em) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  body {
    background-image: url("./images/bg-intro-mobile.png");
  }
  .description {
    text-align: center;
  }
  h1 {
    font-size: 2.8rem;
  }
  .try-it {
    padding: 1.2rem 7.2rem;
  }
  form {
    padding: 0.8rem;
  }
  .form-column {
    width: 90vw;
  }
}
