:root {
  font-size: 62.5%;

  --grad-buttons: linear-gradient(
    90deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );
  --grad-card: linear-gradient(
    135deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );
  --very-light-blue: hsl(240, 78%, 98%);
  --light-blue: hsl(234, 14%, 74%);
  --blue: hsl(233, 13%, 49%);
  --dark-blue: hsl(232, 13%, 33%);
}

html,
body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--dark-blue);

  background-color: var(--very-light-blue);
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, left bottom;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  background: var(--grad-buttons);
  color: #fff;
}

/* Header */
h1 {
  margin: 0;
  color: var(--blue);
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 5.5rem;
  height: 3rem;
  background: var(--grad-buttons);
  border-radius: 5rem;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  background-color: #fff;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  transition: 150ms;
}

input[type="checkbox"]:checked:after {
  right: 2.9rem;
  transition: 150ms;
}

input[type="checkbox"]:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#toggle:checked {
}
